.weekly-progress {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: #a3a0ca;
  height: 6.5rem;
  width: 20rem;
  border-radius: 1rem;
}

.weekly-progress__button {
  border: none;
  background-color: var(--color-contrast);
  color: #a3a0ca;
  height: 2rem;
  width: 6rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
}

.weekly-progress__text {
  color: var(--color-contrast);
  font-size: 1.1rem;
  margin-left: 2rem;
}
